* {
  box-sizing: border-box;
}
:host {
  display: block;
  height: 100px;
}

a{
  text-decoration: none;
}

#hill-navbar{
  position: absolute;
  top: 0;
  font-size: 2.5rem;
  color: #353535;
  width: 100vw;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

#hill-navbar__home{
  position: absolute;
  left: 0;
  display: flex;
  align-items: baseline;
  column-gap: 10px;
  margin: 50px auto;
}

#home-img-wrapper{
  width: 75px;
  height: 75px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

#home-img{
  width: 100%;
}

#home-name{
  display: block;
}

#hill-navbar__list-wrapper{
  position: absolute;
  right: 0;
}

.list-toggle {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 10%;
  right: 3%;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  background: rgba(255,128,124,0.2);
  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  }
}

.line-1, .line-2, .line-3 {
  position: absolute;
  right: 21%;
  top: 48%;
  width: 32px;
  height: 3px;
  background-color: black;
  transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.line-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.line-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.line-1.a {
  transform: rotate(40deg);
}
.line-3.b {
  transform: rotate(-40deg);
}
.line-2.c {
  opacity: 0;
}

#list-menu{
  visibility: hidden;
}
// #list-menu{
//   display: flex;
//   list-style: none;
//   justify-content: space-between;
//   align-items: center;
//   padding-left: 5rem;
//   padding-inline-start: 0;
// }
#list-menu{
  background: #0288D1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
 
  transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
  transition-delay: 100ms;
}
#list-menu ul {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 40%;
}

#list-menu.show {
   width: 50%;
   opacity: 1;
}